@model System.Data.DataTable
@using System.Data;
@{
     ViewBag.Title = "Home Page";
}
<script>
     window.setTimeout(function () {
          $("#success-alert").fadeTo(500, 0).slideUp(500, function () {
               $(this).remove();
          });
     }, 4000);

     //Files Extension Fuction

     var _validFileExtensions = [".xlsx"];
     function ValidateSingleInput(oInput) {
          if (oInput.id == "file") {
               var sFileName = oInput.value;
               if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                         var sCurExtension = _validFileExtensions[j];
                         if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                              blnValid = true;
                              break;
                         }
                    }
                    if (!blnValid) {
                         alert("Sorry, File Uploaded is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                         oInput.value = "";
                         return false;
                    }
               }
          }
          return true;
     }
</script>
<div class="row">
     <div class="col-lg-12">
          <br />
          <h2>Employee Salary Increment</h2>
          <p>
               Use this page to upload employees Excel file.
          </p>
          <br />
          @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
          {
               <div class="form-group">
                    @Html.Label("Select an excel file", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                         <input type="file" name="file" id="file" accept=".xlsx" onchange="ValidateSingleInput(this);" />
                    </div>
               </div>
               <br />
               <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                         <input type="submit" class="btn btn-primary" value="Upload" id="btn" />
                    </div>
               </div>

               <br />
               if (Model != null)
               {
                    <p>
               Please verify the list of employees before sending them increments letter
          </p>
               <br />
                    <div class="table-responsive">
                         <table class="table table-bordered">
                              <thead>
                                   <tr>
                                        @foreach (DataColumn col in Model.Columns)
                                        {
                                             <th>@col.ColumnName</th>
                                        }
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (DataRow row in Model.Rows)
                                   {
                                        <tr>
                                             @foreach (DataColumn col in Model.Columns)
                                             {
                                                  <td>@row[col.ColumnName]</td>
                                             }
                                        </tr>
                                   }
                              </tbody>
                         </table>
                    </div>
               <br />
          
          @Html.ActionLink("Send Increment Letters", "Send", "Home", new { path = @ViewBag.filepath }, new { @class = "btn_click btn btn-sm btn-primary col-md-offset-8 col-md-4" })
               }
          }
          
     </div>

</div>